
#middle_row {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
	text-align:center;
	width:100%;
}
.prev
{
   border-radius: 0px  !important;
    border-width: 1px !important;
     border-style: solid !important;
     background: #909090 !important;
     color: #fff !important;
     transition: all .2s !important;
     padding: 11px 23px !important;
     line-height: 14px !important;
     font-size:15px  !important;
     transition: all .2s !important;
     font-weight: 700 !important;
     letter-spacing: 1px !important;
     cursor:pointer !important;
     margin-bottom:1px !important;
  display:block;
     width:150px !important;
  top:50%;   
left:5;
  position:fixed;
}
.gorental
{
   border-radius: 0px  !important;
    border-width: 1px !important;
     border-style: solid !important;
     background: #008000 !important;
     color: #fff !important;
     transition: all .2s !important;
     padding: 11px 23px !important;
     line-height: 14px !important;
     font-size:15px  !important;
     transition: all .2s !important;
     font-weight: 700 !important;
     letter-spacing: 1px !important;
     cursor:pointer !important;
     margin-bottom:1px !important;
  display:block;
     width:150px !important;
  top:50%;   
  right:5;
  position:fixed;
}

.Start_button
{
    -webkit-appearance:none !important;
   border-radius: 0px  !important;
    border-width: 1px !important;
     border-style: solid !important;
     background: #ffffff !important;
     color: #333 !important;
     transition: all .2s !important;
     padding: 11px 23px !important;
     line-height: 14px !important;
     font-size:15px  !important;
     transition: all .2s !important;
     font-weight: 700 !important;
     letter-spacing: 1px !important;
     cursor:pointer !important;
     margin-bottom:1px !important;
    display:inline-block !important;
     width:250px !important;
        margin-top:5% !important;
        margin-bottom:8% !important;

}

